* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  width: 100%;
  min-height: 100%;
  padding-bottom: 104px;
  padding-top: 54px;
}

#container header {
  height: 54px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  top: 0;
}

#container header div {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (max-width: 600px) {
  #container header div {
    padding: 0 0;
  }
}

#container header div a {
  text-decoration: none;
}

#container header div h1 {
  color: #489;
  margin: 0;
  font-size: 30px;
  padding-top: 5px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #container header div h1 {
    width: 150px;
    margin-left: 9.75px;
  }
}

#container header div ul {
  display: flex;
  padding-inline-start: 0;
  margin-right: 3px;
}

#container header div ul li {
  color: #757575;
  list-style: none;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #container header div ul li {
    width: 75px;
    margin: 0 0;
  }
}

#container section .modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#container section .modal .border-top {
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}

#container section .modal .modal-content {
  width: 340px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  z-index: 2;
  box-shadow: 1px 1px 2px 1px #757575;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#container section .modal .modal-content .modal-header {
  color: #666;
  margin: 15px 0px;
}

#container section .modal .modal-content .modal-header h2 {
  margin: 0 auto;
  left: 25%;
}

#container section .modal .modal-content .modal-header .close {
  position: absolute;
  right: 17px;
  bottom: 5px;
  font-size: 24px;
  font-weight: lighter;
  z-index: 2;
}

#container section .modal .modal-content .modal-header .close:hover, #container section .modal .modal-content .modal-header .close:focus {
  cursor: pointer;
}

#container section .modal .modal-content .modal-body .login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container section .modal .modal-content .modal-body .login input {
  width: 310px;
  height: 47px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px solid #CCC;
  padding: 15px;
}

#container section .modal .modal-content .modal-body .login input:focus {
  outline: none;
}

#container section .modal .modal-content .modal-body .login button {
  width: 310px;
  height: 47px;
  background: #489;
  border-radius: 5px;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

#container section .modal .modal-content .modal-body #modalMessage {
  display: none;
  text-align: center;
  color: #f24;
}

#container section .modal .modal-content .modal-footer h3 {
  margin-: 15px;
  color: #666;
  text-align: center;
  font-weight: lighter;
  font-size: 16px;
  cursor: pointer;
}

#container footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 104px;
  background-color: #757575;
}

#container footer p {
  font-size: 16px;
  color: #fff;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container header {
  border-bottom: 1px solid #E8E8E8;
}

#container main {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}

@media screen and (max-width: 1200px) {
  #container main {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  #container main {
    width: 100%;
    padding-top: 0;
  }
}

#container main .top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#container main .top #left {
  width: 540px;
  height: 406px;
}

@media screen and (max-width: 1200px) {
  #container main .top #left {
    width: 100%;
    height: 100%;
    margin: auto auto;
  }
}

@media screen and (max-width: 600px) {
  #container main .top #left {
    width: 100%;
    height: 100%;
  }
}

#container main .top #left .mySlides {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  #container main .top #left .mySlides {
    width: 100%;
    height: 100%;
  }
}

#container main .top #left .mySlides img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  #container main .top #left .mySlides img {
    border-radius: 0;
  }
}

#container main .top #left .prev, #container main .top #left .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  margin-top: -22px;
  padding: 2px;
  color: #666;
  font-weight: lighter;
  font-size: 26px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  z-index: 1;
  background-color: #eee;
  opacity: 0.7;
}

#container main .top #left .prev:hover, #container main .top #left .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

#container main .top #left .prev {
  padding-left: 10px;
  left: 5px;
}

#container main .top #left .next {
  right: 5px;
  padding-left: 12px;
}

#container main .top #left .dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

#container main .top #left .dots .dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0px 4px;
  background-color: #eee;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#container main .top #left .dots .dot:hover {
  background-color: #000;
  border: 1px solid #fff;
}

#container main .top #left .dots .active {
  background-color: #000;
  border: 1px solid #fff;
}

#container main .top #right {
  width: 540px;
  height: 406px;
}

@media screen and (max-width: 1200px) {
  #container main .top #right {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  #container main .top #right {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
  }
}

#container main .top #right #title {
  color: #666;
  margin: 0 0;
}

#container main .top #right #category {
  color: #666;
  font-weight: lighter;
}

#container main .top #right .booking {
  margin-top: 30px;
  background-color: #E8E8E8;
  color: #666;
  padding: 5px 20px;
  border-radius: 5px;
}

#container main .top #right .booking .bold {
  font-weight: bold;
}

#container main .top #right .booking span {
  margin-right: 5px;
}

#container main .top #right .booking .date {
  width: 193px;
  height: 35px;
  margin-bottom: 8px;
  border-color: transparent;
  padding: 8px;
}

#container main .top #right .booking label {
  margin-right: 5px;
}

#container main .top #right .booking label input[type="radio"] {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
}

#container main .top #right .booking label input[type="radio"]:checked + ::before {
  background: #489;
  border: 2px solid #fff;
}

#container main .top #right .booking label ::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #fff;
  margin-right: 3px;
}

#container main .top #right .booking button {
  width: 154px;
  height: 36px;
  background-color: #489;
  color: #fff;
  padding: 5px;
  border-color: transparent;
  border-radius: 3px;
  margin-top: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

#container main hr {
  border: 1px solid #E8E8E8;
  margin-top: 30px;
  margin-bottom: 50px;
}

#container main .bottom {
  max-width: 100%;
  color: #666;
  line-height: 26px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  #container main .bottom {
    height: 100%;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  #container main .bottom {
    height: 100%;
    padding: 20px;
  }
}

#container main .bottom #desc {
  margin-bottom: 20px;
}

#container main .bottom p {
  font-weight: bold;
  margin-bottom: 5px;
}
