* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  width: 100%;
  min-height: 100%;
  padding-bottom: 104px;
  padding-top: 54px;
}

#container header {
  height: 54px;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  top: 0;
}

#container header div {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (max-width: 600px) {
  #container header div {
    padding: 0 0;
  }
}

#container header div a {
  text-decoration: none;
}

#container header div h1 {
  color: #489;
  margin: 0;
  font-size: 30px;
  padding-top: 5px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #container header div h1 {
    width: 150px;
    margin-left: 9.75px;
  }
}

#container header div ul {
  display: flex;
  padding-inline-start: 0;
  margin-right: 3px;
}

#container header div ul li {
  color: #757575;
  list-style: none;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #container header div ul li {
    width: 75px;
    margin: 0 0;
  }
}

#container section .modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#container section .modal .border-top {
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}

#container section .modal .modal-content {
  width: 340px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  z-index: 2;
  box-shadow: 1px 1px 2px 1px #757575;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#container section .modal .modal-content .modal-header {
  color: #666;
  margin: 15px 0px;
}

#container section .modal .modal-content .modal-header h2 {
  margin: 0 auto;
  left: 25%;
}

#container section .modal .modal-content .modal-header .close {
  position: absolute;
  right: 17px;
  bottom: 5px;
  font-size: 24px;
  font-weight: lighter;
  z-index: 2;
}

#container section .modal .modal-content .modal-header .close:hover, #container section .modal .modal-content .modal-header .close:focus {
  cursor: pointer;
}

#container section .modal .modal-content .modal-body .login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container section .modal .modal-content .modal-body .login input {
  width: 310px;
  height: 47px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px solid #CCC;
  padding: 15px;
}

#container section .modal .modal-content .modal-body .login input:focus {
  outline: none;
}

#container section .modal .modal-content .modal-body .login button {
  width: 310px;
  height: 47px;
  background: #489;
  border-radius: 5px;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

#container section .modal .modal-content .modal-body #modalMessage {
  display: none;
  text-align: center;
  color: #f24;
}

#container section .modal .modal-content .modal-footer h3 {
  margin-: 15px;
  color: #666;
  text-align: center;
  font-weight: lighter;
  font-size: 16px;
  cursor: pointer;
}

#container footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 104px;
  background-color: #757575;
}

#container footer p {
  font-size: 16px;
  color: #fff;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container header {
  border-bottom: 1px solid #E8E8E8;
}

#container main {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  #container main {
    width: 90%;
    line-height: 24px;
  }
}

@media screen and (max-width: 600px) {
  #container main {
    width: 100%;
  }
}

#container main hr {
  border: 1px solid #E8E8E8;
}

#container main .top {
  margin: 0 8%;
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  #container main .top {
    margin: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  #container main .top {
    margin: 0 10px;
  }
}

#container main .top h3 {
  font-size: 19px;
  color: #666;
  margin-bottom: 35px;
}

#container main .top .booking-body {
  display: flex;
}

@media screen and (max-width: 600px) {
  #container main .top .booking-body {
    flex-direction: column;
  }
}

#container main .top .booking-body img {
  width: 266px;
  height: 200px;
}

@media screen and (max-width: 600px) {
  #container main .top .booking-body img {
    width: 100%;
    height: 100%;
  }
}

#container main .top .booking-body .booking-content {
  margin-left: 22px;
}

@media screen and (max-width: 600px) {
  #container main .top .booking-body .booking-content {
    margin-left: 0px;
  }
}

#container main .top .booking-body .booking-content h4 {
  color: #489;
}

#container main .top .booking-body .booking-content p {
  font-weight: bold;
  color: #757575;
}

#container main .top .booking-body .booking-content p span {
  font-weight: normal;
}

#container main .top .booking-body .delete-icon {
  margin-left: auto;
  margin-right: 0;
  width: 30px;
  height: 30px;
  background-image: url("/imgs/icon_delete.png");
  cursor: pointer;
}

#container main .middle {
  margin: 0 8%;
  color: #757575;
}

@media screen and (max-width: 1200px) {
  #container main .middle {
    margin: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  #container main .middle {
    margin-left: 10px;
  }
}

#container main .middle h3 {
  font-weight: bold;
}

#container main .middle .user-info {
  display: flex;
  flex-direction: column;
}

#container main .middle .user-info label {
  margin-bottom: 15px;
}

#container main .middle .user-info input {
  width: 200px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #E8E8E8;
  padding: 10px;
  outline: none;
}

#container main .middle p {
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 45px;
}

#container main .bottom {
  margin: 0 8%;
  color: #757575;
  margin-top: 44px;
}

@media screen and (max-width: 1200px) {
  #container main .bottom {
    margin: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  #container main .bottom {
    margin-left: 10px;
  }
}

#container main .bottom h3 {
  font-weight: bold;
}

#container main .bottom .payment-info {
  display: flex;
  flex-direction: column;
}

#container main .bottom .payment-info label {
  margin-bottom: 15px;
}

#container main .bottom .payment-info input {
  width: 200px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #E8E8E8;
  padding: 10px;
  outline: none;
}

#container main .send {
  margin: 0 8%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 62px;
}

#container main .send p {
  color: #757575;
  font-weight: bold;
}

#container main .send button {
  width: 173px;
  height: 36px;
  background-color: #489;
  color: #fff;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
}
