<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');</style>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/loaders.css') }}">
    {% block css %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="container">
        <header>
            {% block header %}
            <div>
                <a href="/"><h1>台北一日遊</h1></a>
                <ul id="nav" style="display: none;">
                    <li id="member" style="display: block;"><a href="/member" style="color: #666;">會員中心</a></li>
                    <li id="bookingBtn">預定行程</li>
                    <li id="loginBtn" style="display: block;">登入/註冊</li>
                    <li id="logoutBtn" style="display: none;">登出系統</li>
                </ul>
            </div>
            {% endblock %}
        </header>
        <section>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="border-top"></div>
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2 class="login-content">登入會員帳號</h2>
                        <h2 class="register-content" style="display: none;">註冊會員帳號</h2>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="login">
                            <label>
                                <input id="name" type="text" name="name" class="register-content" placeholder="輸入姓名" style="display: none;" pattern="^[\u4e00-\u9fa5a-zA-Z0-9]{4,12}$">
                            </label>
                            <label>
                                <input id="email" type="email" name="email" placeholder="輸入電子信箱" pattern="^.+@.*$" required>
                            </label>
                            <label>
                                <input id="password" type="password" name="password" placeholder="輸入密碼" pattern="[\w\W]{8,}" required>
                            </label>
                            
                            <button id="login" type="submit" class="login-content">登入帳戶</button>
                            <button id="register" type="submit" class="register-content" style="display: none;">註冊新帳戶</button>
                        </form>
                        <p id="modalMessage"></p>
                    </div>
                    <div class="modal-footer">
                        <h3 id="doRegisterBtn" class="login-content">還沒有帳戶？點此註冊</h3>
                        <h3 id="doLoginBtn" class="register-content" style="display: none;">已經有帳戶了？點此登入</h3>
                    </div>
                </div>
            </div>
            {% block section %}{% endblock %}
        </section>
        <main>
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
            {% block main %}{% endblock %}
        </main>
        <footer>
            <p>COPYRIGHT © 2021 台北一日遊</p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename = 'js/loaders.css.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/base.js') }}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>