{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/thankyou.css') }}">
{% endblock %}
{% block title %}
訂單頁面
{% endblock %}

{% block main %}
<div id="thankyou-body" style="display: none;">
    <div class="top" id="success-top" style="display: block;">
        <h3 id="welcome-text">您好，<span id="username"></span>，已訂購的行程如下：</h3>
        <div class="order-body">
            <img id="attraction-img" src="">
            <div class="order-content">
                <p style="margin-top: 0;">編號：<span id="order-number"></span></p>
                <p>景點：<span id="order-attraction"></span></p>
                <p>地點：<span id="order-address"></span></p>
                <p>日期：<span id="order-date"></span></p>
                <p>時間：<span id="order-time"></span></p>
                <p>費用：<span id="order-price"></span></p>
            </div>
        </div>
    </div>

    <div class="top" id="fail-top" style="display: none;">
        <h3>交易失敗，失敗原因如下：</h3>
        <p style="background-color: #eee; padding: 30px 30px;" id="fail-msg"></p>
    </div>
    <hr>
    <h3 class="finish-text" style="display: none;">如欲查詢歷史訂單，請至<a href="/order">訂單查詢</a></h3>
    <h3 class="finish-text" style="display: none;">請參考失敗原因進行後續操作，若仍無法解決您的問題，請洽<a href="#">客服中心</a>，我們將協助您處理。</h3>
</div>
{% endblock %}


{% block js %}
    <script src="{{ url_for('static', filename = 'js/thankyou.js') }}"></script>
{% endblock %}