@import "media.sass"
$blue: #489
$gray: #757575
@mixin center
    top: 50%
    left: 50%
    // transform: translateX(-50%) translateY(-50%)
    transform: translate(-50%, -50%)

*
    // border: 1px solid #000
    box-sizing: border-box
    font-family: "Noto Sans TC", sans-serif
    position: relative

html, body
    margin: 0
    padding: 0
    height: 100%


#container
    width: 100%
    min-height: 100%
    padding-bottom: 104px
    padding-top: 54px
    header
        height: 54px
        width: 100%
        position: fixed
        z-index: 2
        background-color: #fff
        top: 0
        div
            max-width: 1200px
            display: flex
            justify-content: space-between
            margin: 0 auto
            padding: 0 10px
            @include mobile
                padding: 0 0
            .icon
                background: black
                display: block
                position: absolute
                right: 0
                top: 0
                font-size: 20px
            a
                text-decoration: none
            h1
                color: $blue
                margin: 0
                font-size: 30px
                padding-top: 5px
                cursor: pointer
                @include mobile
                    width: 150px
                    margin-left: 9.75px
            ul
                display: flex
                padding-inline-start: 0
                margin-right: 3px
                li
                    color: $gray
                    list-style: none
                    margin: 0 5px
                    font-size: 16px
                    cursor: pointer
                    &:hover
                        color: $blue
                    @include mobile
                        width: 75px
                        margin: 0 0
                    a
                        color: $gray
                        &:hover
                            color: $blue
    section
        .modal
            display: none
            position: fixed
            z-index: 2
            top: 0
            right: 0
            padding-top: 100px
            width: 100%
            height: 100%
            background-color: rgba(0,0,0,0.4)
            .border-top
                height: 10px
                background: linear-gradient(270deg, #337788 0%, #66AABB 100%)
            .modal-content
                width: 340px
                background-color: #fff
                border-radius: 5px
                overflow: hidden
                position: relative
                margin: 0 auto
                z-index: 2
                box-shadow: 1px 1px 2px 1px $gray
                animation-name: animatetop
                animation-duration: 0.4s
                @keyframes animatetop 
                    from 
                        top: -300px 
                        opacity: 0
                    to 
                        top: 0 
                        opacity: 1
                .modal-header
                    color: #666
                    margin: 15px 0px
                    h2
                        margin: 0 auto
                        left: 25%
                    .close
                        position: absolute
                        right: 17px
                        bottom: 5px
                        font-size: 24px
                        font-weight: lighter
                        z-index: 2
                        &:hover, &:focus
                            cursor: pointer
                .modal-body
                    .login
                        display: flex
                        flex-direction: column
                        align-items: center
                        input
                            width: 310px
                            height: 47px
                            margin-bottom: 8px
                            border-radius: 5px
                            border: 1px solid #CCC
                            padding: 15px
                            &:focus
                                outline: none
                        button
                            width: 310px
                            height: 47px
                            background: #489
                            border-radius: 5px
                            border-color: transparent
                            color: #fff
                            cursor: pointer
                            &:hover
                                background: #387c8d
                    #modalMessage
                        display: none
                        text-align: center
                        color: #f24
                .modal-footer
                    h3
                        margin-: 15px
                        color: #666
                        text-align: center
                        font-weight: lighter
                        font-size: 16px
                        cursor: pointer
    main
        .loader-inner
            width: 50%
            z-index: 999
            position: absoulte
            top: 200px
            left: 50%
            div
                background-color: $blue
    footer
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 104px
        background-color: $gray
        p
            font-size: 16px
            color: #fff
            width: 250px
            +center
